body {
    font-size: 20px;
    font-weight: bold;
}

header {
    background-color: orange;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.gauche {
    background-color: rgb(249, 38, 97);
    height: 100%;
    width: 20%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.droite {
    background-color: blueviolet;
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}