body{
    text-align: left;
}

li{
    /* Avec ou sans selection de la puce */
   list-style-position: outside ; 
}

.imgRouge{
    list-style-image: url(../00-Ressources/§§§IMG§§§/puce_rouge_1.png);
}

.imgOrange{
    list-style-image: url(../00-Ressources/§§§IMG§§§/puce_orange_1.png);
}

.imgVert{
    list-style-image: url(../00-Ressources/§§§IMG§§§/puce_verte_1.png);
}

.styleType{
    list-style-type:lower-roman;
}
