body {
    text-align: center;
}

.BdCollapse {
    border-collapse: collapse;
}

table,
th,
tr,
td {
    padding: 5px;
    margin: 10px auto;
    border: 1px solid black;
}

th {
    background-color: rgb(77, 77, 77);
    color: white;
}